<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <h1>Learning VueJs</h1>
    <div id="root">
      <p>My name is {{name}}. I'm {{age}} years old.</p>
      <button @click="showButtons = !showButtons">
        <span v-if="showButtons">Hide</span>
        <span v-else>Show</span>
      </button>
      <div v-if="showButtons">
        <button @click="age++">+</button>
        <button @click="age--">-</button>
        <button @click="changeName">Change Name</button>
        <button @click="changeNameWithArg('XenOn')">
          Change Name With Argument
        </button>
      </div>
      <div v-show="showButtons">
        v-if re-renders the element. v-show hides using css
      </div>
      <br />
      <!-- Mouse events -->
      <div class="box" @mouseover="eventHandler($event, 5)">Mouse over</div>
      <div class="box" @mouseleave="eventHandler">Mouse leave</div>
      <div class="box" @dblclick="eventHandler">Double click</div>
      <div class="box" @mousemove="handleMove" @mouseleave="x = 0; y=0">
        X - {{x}}<br />Y - {{y}}
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
